body{
    font-size:14px;
    font-family:arial,san-serif;
}

a.blackText {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}
#middle{
    margin-top: 300px;
}
nav{
    display:flex;
    flex-direction:space-between;

    padding: 10px;
    position:fixed;
    width:100%;
    left:0px;
    top:0px;

}

.nav-flex-child-1{
    flex-grow: 1;
    display: flex;
    align-items: center;

}

.nav-flex-child-2{
    flex-grow: 1;
    padding-right:15px;

}

.links{
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
}
main{
    text-align: center;
}
input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-bar{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 450px;
    /* width: auto; */

}

.tray-flex{
    color: #3c4043;
    display:flex;
    flex-direction:space-between;
    bottom:5px;
    padding: 10px;
    position:fixed;
}

.bottomleft{
    flex-grow: 1;
    display: flex;
    align-items: center;

}

.bottomright{
    flex-grow: 1;
    padding-right:10px;
    text-align:right;

}

